body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
    margin: 0;
  }
  
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0.93),
      rgb(11, 11, 11, 0.93)
    ),
    url(https://www.hughbaird.ac.uk/user/pages/22.facilities/09.lifestyle-fitness-gym/02._features/Facilities.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
#title{
    position:relative;
    text-align: center;
    margin-top: 40px;
}
#description{
    position:relative;
    text-align: center;
    margin-top: -15px;
    font-style: italic;
}
form{
    width: 600px;
    display: block;
    position: relative;
    margin: 40px auto 40px auto;
    padding: 26px 50px 50px 50px;
    background: rgba(26, 26, 26, 0.63);
    border: 0;
    border-radius: 7px;
}
.form-group{
    padding-right: 20px;
    margin: 13px auto 13px auto;
}
label{
    position: relative;
    font-size: large;
    font-weight: 400;
}
.form-control{
    width: 100%;
    margin-top: 6px;
    padding: 8px;
    border-radius: 5px;
}
::placeholder{
    color: rgb(11, 11, 11, 0.93);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
#selable{
    font-size: large;
    position: relative;
}
#dropdown{
    margin-top: -10px;
    width: 100%;
    border-radius: 5px;
    padding: 6px;
    position: relative;
}
.form-radio input{
    margin: 12px 7px 12px auto;
    font-size: large;
}
.form-radio-rate {
    font-size: large;
    width: 100%;
}
.form-radio-rate input {
    margin: auto 25px auto 25px;
}
.form-radio-rate input {
    margin: auto 25px auto auto;
}
.input-textarea {
    min-height: 70px;
    width: 100%;
    padding: 10px;
    resize: vertical;
    border-radius: 7px;
  }
  #submit{
      margin: 10px auto 10px auto;
      padding: 5px;
      display: block;
      position: relative;
      width: 90%;
      height: 50px;
      background: rgb(72, 190, 56);
      border-radius: 10px;
      color: white;
      border: 0;
      transition: 0.3s;
  }
  #submit:hover{
        background: green;
        color: black;
  }
  @media(max-width: 720px){
    #description{
        max-width: 90%;
        text-align: center;
        margin: auto;
        display: block;
    }
    form{
        position: relative;
        width: 60%;
        position: relative;
        display: block;
   }
    .form-radio input{
        margin: 10px 6px 10px auto;
  }
    .form-radio-rate {
        font-size: large;
        width: 100%;
}
}
.form-checkbox{
    font-size: small;
    text-align: center;
}
.form-checkbox label{
    font-size: smaller;
}
.form-checkbox input{
    text-align: center;
    margin: 0 auto 15px auto;
}


input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
}